html {
  background: hsl(59, 53%, 58%);
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, hsl(102, 20%, 52%) 0%, hsl(59, 53%, 58%) 100%);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.menu {
  margin-top: 0.5rem;
  color: white;
  position: relative;
  top: -1.5rem;
}
.ligne {
  height: 0.2em;
  width: 4em;
  background-color: white;
  position: relative;
  bottom: 2rem;
}
.type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
  color: white;

  font-weight: 600;
  text-decoration: none;
  list-style: none;

  position: relative;
  bottom: 0rem;
  left: -1em;
  cursor: pointer;
}
li {
  text-transform: capitalize;
}
li:hover {
  border: none;
  height: 20px;
  border-radius: 0.2em;
  background-color: rgba(230, 227, 227, 0.678);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  padding: 3em 4em 4em 4em;
}

@media only screen and (max-width: 434px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .type {
    margin-left: 9%;
  }
  .menu {
    margin-left: 13%;
    text-align: center;
  }
  .ligne {
    margin-left: 13%;
  }
  .card {
    margin-left: 0.2rem;
  }
}
